/* Importando 3 fontes para a representação do site */
@font-face {
    font-family: "bebas-neue";
    src: url(../Assets/Fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "Open-sans-italic";
    src: url(../Assets/Fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf)
}
@font-face {
    font-family: "Open-sans-regular";
    src: url(../Assets/Fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #080324;
}
h1{
    font-family: bebas-neue;
    text-transform: uppercase;
    color: white;
    font-size: 96px;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    text-transform: uppercase;
    color: #F9003D;
}
h3{
    font-family: "bebas-neue";
    text-transform: uppercase;
    font-size: 64px;
    color: #FFAF00;
}
h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
h6{
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    color: #A259F7;
    text-transform: uppercase;
}
p{
    color: white;
    font-size: 18px;
    font-family: "open-sans-regular";
    width: 592px;
}
header{
    background-color: #F9003D;
    
    height: 60px;
}
header #iconelateral{

}
header .risco{
    border: 5px solid #C4C4C4;
}